<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.TbBookMapper">
    
    <resultMap type="TbBook" id="TbBookResult">
        <result property="bkID"    column="bkID"    />
        <result property="bkCode"    column="bkCode"    />
        <result property="bkName"    column="bkName"    />
        <result property="bkAuthor"    column="bkAuthor"    />
        <result property="bkPress"    column="bkPress"    />
        <result property="bkDatePress"    column="bkDatePress"    />
        <result property="bkISBN"    column="bkISBN"    />
        <result property="bkCatalog"    column="bkCatalog"    />
        <result property="bkLanguage"    column="bkLanguage"    />
        <result property="bkPages"    column="bkPages"    />
        <result property="bkPrice"    column="bkPrice"    />
        <result property="bkDateIn"    column="bkDateIn"    />
        <result property="bkBrief"    column="bkBrief"    />
        <result property="bkStatus"    column="bkStatus"    />
    </resultMap>

    <sql id="selectTbBookVo">
        select bkID, bkCode, bkName, bkAuthor, bkPress, bkDatePress, bkISBN, bkCatalog, bkLanguage, bkPages, bkPrice, bkDateIn, bkBrief, bkStatus from tb_book
    </sql>

    <select id="selectTbBookList" parameterType="TbBook" resultMap="TbBookResult">
        <include refid="selectTbBookVo"/>
        <where>  
            <if test="bkCode != null  and bkCode != ''"> and bkCode = #{bkCode}</if>
            <if test="bkName != null  and bkName != ''"> and bkName like concat('%', #{bkName}, '%')</if>
            <if test="bkAuthor != null  and bkAuthor != ''"> and bkAuthor = #{bkAuthor}</if>
            <if test="bkPress != null  and bkPress != ''"> and bkPress = #{bkPress}</if>
            <if test="bkDatePress != null "> and bkDatePress = #{bkDatePress}</if>
            <if test="bkISBN != null  and bkISBN != ''"> and bkISBN = #{bkISBN}</if>
            <if test="bkCatalog != null  and bkCatalog != ''"> and bkCatalog = #{bkCatalog}</if>
            <if test="bkLanguage != null  and bkLanguage != ''"> and bkLanguage = #{bkLanguage}</if>
            <if test="bkPages != null "> and bkPages = #{bkPages}</if>
            <if test="bkPrice != null "> and bkPrice = #{bkPrice}</if>
            <if test="bkDateIn != null "> and bkDateIn = #{bkDateIn}</if>
            <if test="bkBrief != null  and bkBrief != ''"> and bkBrief = #{bkBrief}</if>
            <if test="bkStatus != null  and bkStatus != ''"> and bkStatus = #{bkStatus}</if>
        </where>
    </select>
    
    <select id="selectTbBookByBkID" parameterType="Long" resultMap="TbBookResult">
        <include refid="selectTbBookVo"/>
        where bkID = #{bkID}
    </select>

    <insert id="insertTbBook" parameterType="TbBook" useGeneratedKeys="true" keyProperty="bkID">
        insert into tb_book
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="bkCode != null">bkCode,</if>
            <if test="bkName != null">bkName,</if>
            <if test="bkAuthor != null">bkAuthor,</if>
            <if test="bkPress != null">bkPress,</if>
            <if test="bkDatePress != null">bkDatePress,</if>
            <if test="bkISBN != null">bkISBN,</if>
            <if test="bkCatalog != null">bkCatalog,</if>
            <if test="bkLanguage != null">bkLanguage,</if>
            <if test="bkPages != null">bkPages,</if>
            <if test="bkPrice != null">bkPrice,</if>
            <if test="bkDateIn != null">bkDateIn,</if>
            <if test="bkBrief != null">bkBrief,</if>
            <if test="bkStatus != null">bkStatus,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="bkCode != null">#{bkCode},</if>
            <if test="bkName != null">#{bkName},</if>
            <if test="bkAuthor != null">#{bkAuthor},</if>
            <if test="bkPress != null">#{bkPress},</if>
            <if test="bkDatePress != null">#{bkDatePress},</if>
            <if test="bkISBN != null">#{bkISBN},</if>
            <if test="bkCatalog != null">#{bkCatalog},</if>
            <if test="bkLanguage != null">#{bkLanguage},</if>
            <if test="bkPages != null">#{bkPages},</if>
            <if test="bkPrice != null">#{bkPrice},</if>
            <if test="bkDateIn != null">#{bkDateIn},</if>
            <if test="bkBrief != null">#{bkBrief},</if>
            <if test="bkStatus != null">#{bkStatus},</if>
         </trim>
    </insert>

    <update id="updateTbBook" parameterType="TbBook">
        update tb_book
        <trim prefix="SET" suffixOverrides=",">
            <if test="bkCode != null">bkCode = #{bkCode},</if>
            <if test="bkName != null">bkName = #{bkName},</if>
            <if test="bkAuthor != null">bkAuthor = #{bkAuthor},</if>
            <if test="bkPress != null">bkPress = #{bkPress},</if>
            <if test="bkDatePress != null">bkDatePress = #{bkDatePress},</if>
            <if test="bkISBN != null">bkISBN = #{bkISBN},</if>
            <if test="bkCatalog != null">bkCatalog = #{bkCatalog},</if>
            <if test="bkLanguage != null">bkLanguage = #{bkLanguage},</if>
            <if test="bkPages != null">bkPages = #{bkPages},</if>
            <if test="bkPrice != null">bkPrice = #{bkPrice},</if>
            <if test="bkDateIn != null">bkDateIn = #{bkDateIn},</if>
            <if test="bkBrief != null">bkBrief = #{bkBrief},</if>
            <if test="bkStatus != null">bkStatus = #{bkStatus},</if>
        </trim>
        where bkID = #{bkID}
    </update>

    <delete id="deleteTbBookByBkID" parameterType="Long">
        delete from tb_book where bkID = #{bkID}
    </delete>

    <delete id="deleteTbBookByBkIDs" parameterType="String">
        delete from tb_book where bkID in 
        <foreach item="bkID" collection="array" open="(" separator="," close=")">
            #{bkID}
        </foreach>
    </delete>
</mapper>