<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.TbReaderMapper">
    
    <resultMap type="TbReader" id="TbReaderResult">
        <result property="rdID"    column="rdID"    />
        <result property="rdCode"    column="rd_code" />
        <result property="rdName"    column="rdName"    />
        <result property="rdSex"    column="rdSex"    />
        <result property="rdType"    column="rdType"    />
        <result property="rdDept"    column="rdDept"    />
        <result property="rdPhone"    column="rdPhone"    />
        <result property="rdEmail"    column="rdEmail"    />
        <result property="rdDateReg"    column="rdDateReg"    />
        <result property="rdPhoto"    column="rdPhoto"    />
        <result property="rdStatus"    column="rdStatus"    />
        <result property="rdBorrowQty"    column="rdBorrowQty"    />
    </resultMap>

    <sql id="selectTbReaderVo">
        select rdID, rd_code, rdName, rdSex, rdType, rdDept, rdPhone, rdEmail, rdDateReg, rdPhoto, rdStatus, rdBorrowQty from tb_reader
    </sql>

    <select id="selectTbReaderList" parameterType="TbReader" resultMap="TbReaderResult">
        <include refid="selectTbReaderVo"/>
        <where>
            <if test="rdID != null "> and rdID = #{rdID}</if>
            <if test="rdName != null  and rdName != ''"> and rdName like concat('%', #{rdName}, '%')</if>
            <if test="rdCode != null  and rdCode != ''">and rd_code like concat('%', #{rdCode}, '%')</if>
            <if test="rdSex != null  and rdSex != ''"> and rdSex = #{rdSex}</if>
            <if test="rdType != null "> and rdType = #{rdType}</if>
            <if test="rdDept != null  and rdDept != ''"> and rdDept = #{rdDept}</if>
            <if test="rdPhone != null  and rdPhone != ''"> and rdPhone = #{rdPhone}</if>
            <if test="rdEmail != null  and rdEmail != ''"> and rdEmail = #{rdEmail}</if>
            <if test="rdDateReg != null "> and rdDateReg = #{rdDateReg}</if>
            <if test="rdPhoto != null  and rdPhoto != ''"> and rdPhoto = #{rdPhoto}</if>
            <if test="rdStatus != null  and rdStatus != ''"> and rdStatus = #{rdStatus}</if>
            <if test="rdBorrowQty != null "> and rdBorrowQty = #{rdBorrowQty}</if>
            and del_flag = '0'
        </where>
    </select>

    <select id="selectTbReaderByRdID" parameterType="Long" resultMap="TbReaderResult">
        <include refid="selectTbReaderVo"/>
        where rdID = #{rdID}
    </select>

    <insert id="insertTbReader" parameterType="TbReader" useGeneratedKeys="true" keyProperty="rdID">
        insert into tb_reader
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="rdName != null">rdName,</if>
            <if test="rdCode != null">rd_code,</if>
            <if test="rdSex != null">rdSex,</if>
            <if test="rdType != null">rdType,</if>
            <if test="rdDept != null">rdDept,</if>
            <if test="rdPhone != null">rdPhone,</if>
            <if test="rdEmail != null">rdEmail,</if>
            <if test="rdDateReg != null">rdDateReg,</if>
            <if test="rdPhoto != null">rdPhoto,</if>
            <if test="rdStatus != null">rdStatus,</if>
            <if test="rdBorrowQty != null">rdBorrowQty,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="rdName != null">#{rdName},</if>
            <if test="rdCode != null">#{rdCode},</if>
            <if test="rdSex != null">#{rdSex},</if>
            <if test="rdType != null">#{rdType},</if>
            <if test="rdDept != null">#{rdDept},</if>
            <if test="rdPhone != null">#{rdPhone},</if>
            <if test="rdEmail != null">#{rdEmail},</if>
            <if test="rdDateReg != null">#{rdDateReg},</if>
            <if test="rdPhoto != null">#{rdPhoto},</if>
            <if test="rdStatus != null">#{rdStatus},</if>
            <if test="rdBorrowQty != null">#{rdBorrowQty},</if>
         </trim>
    </insert>

    <update id="updateTbReader" parameterType="TbReader">
        update tb_reader
        <trim prefix="SET" suffixOverrides=",">
            <if test="rdCode != null">rd_code = #{rdCode},</if>
            <if test="rdName != null">rdName = #{rdName},</if>
            <if test="rdSex != null">rdSex = #{rdSex},</if>
            <if test="rdType != null">rdType = #{rdType},</if>
            <if test="rdDept != null">rdDept = #{rdDept},</if>
            <if test="rdPhone != null">rdPhone = #{rdPhone},</if>
            <if test="rdEmail != null">rdEmail = #{rdEmail},</if>
            <if test="rdDateReg != null">rdDateReg = #{rdDateReg},</if>
            <if test="rdPhoto != null">rdPhoto = #{rdPhoto},</if>
            <if test="rdStatus != null">rdStatus = #{rdStatus},</if>
            <if test="rdBorrowQty != null">rdBorrowQty = #{rdBorrowQty},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
        </trim>
        where rdID = #{rdID}
    </update>

    <select id="selectTbReaderByCodeIncludeDeleted" parameterType="String" resultMap="TbReaderResult">
        <include refid="selectTbReaderVo"/>
        where rd_code = #{rdCode} limit 1
    </select>

    <select id="selectMaxRdCode" resultType="String" useCache="false" flushCache="true">
        SELECT MAX(CAST(rd_code AS UNSIGNED)) FROM tb_reader
    </select>

    <delete id="deleteTbReaderByRdIDs" parameterType="Long">
        delete from tb_reader where rdID in
        <foreach item="rdID" collection="array" open="(" separator="," close=")">
            #{rdID}
        </foreach>
    </delete>
</mapper>